In [21]:
# Exercise 1: Your first DataFrame

#DataFrame from Numpy

import numpy as np
import pandas as pd

arr = np.array([
    [1, "Blue", [1,2], 1.1],
    [3, "Red", [3,4], 2.2],
    [5, "Pink", [5,6], 3.3],
    [7, "Grey", [7,8], 4.4],
    [9, "Black", [9,10], 5.5],
], dtype =object)


df1 = pd.DataFrame(arr, columns = ["id", "color", "list", "number"])
print()
print("Column type")
print(df1.dtypes)
print()
print("Type of first value in each column of DataFrame from numpy")

for col in df1.columns:
    print(col, type(df1[col].iloc[0]))

print()
print("DaraFrame from Pandas")
print()
#DataFrame from Pandas

s_id = pd.Series([1,3,5,7,9])
s_color = pd.Series(["Blue", "Red", "Pink", "Grey", "Black"])
s_list = pd.Series([[1,2], [3,4],[5,6],[7,8],[9,10]])
s_number = pd.Series([1.1, 2.2, 3.3, 4.4, 5.5])

df2 = pd.DataFrame({
    "id" : s_id,
    "color" : s_color,
    "list" : s_list,
    "number" : s_number
})

print()
print("Column type")
print(df2.dtypes)
print()
print("Type of first value in each column of Pandas DataFrame")
for col in df2.columns:
    print(col, type(df2[col].iloc[0]))

Column type
id        object
color     object
list      object
number    object
dtype: object

Type of first value in each column of DataFrame from numpy
id <class 'int'>
color <class 'str'>
list <class 'list'>
number <class 'float'>

DaraFrame from Pandas


Column type
id          int64
color      object
list       object
number    float64
dtype: object

Type of first value in each column of Pandas DataFrame
id <class 'numpy.int64'>
color <class 'str'>
list <class 'list'>
number <class 'numpy.float64'>

In [61]:
# Exercise 2: Electric power consumption

import pandas as pd

# read the .txt dataset
df = pd.read_csv("household_power_consumption.txt", sep =';')
print("Original dataframe", df)
print()

# delete the columns
df = df.drop(columns =["Time","Sub_metering_2","Sub_metering_3"])
print("dataframe without time, sub_metering2 annd 3",df)
print()

# connvert date & set it as index
df["Date"] = pd.to_datetime(df["Date"], format="%d/%m/%Y")
df = df.set_index("Date")
print("dataframe with date as the index", df)
print()

# a function that takes as input the DataFrame with the data set and returns a DataFrame with updated types:

def update_types(df):
    for col in df.columns:
        df[col] = pd.to_numeric(df[col], errors="coerce")
    return df

df = update_types(df)
print()
# describe
print(df.describe())

# drop missing values
df = df.dropna()
print()
print(df)

#modify Sub_metering_1  
df["Sub_metering_1"] = (df["Sub_metering_1"] + 1) * 0.06

# select rows with Date >= 2008-12-27 AND Voltage >= 242
selected = df[(df.index >= "2008-12-27") & (df["Voltage"] >= 242)]
print()
print("Dataframe with only selected data")
print(selected)

# print 88888th row

print(df.iloc[888887]) # index is 0-based so 88888th row = index 88887

#  date for max Global_active_power
idx = df["Global_active_power"].idxmax()
print()
print("date with the maximum global_active_power is :", idx)

# Sort the first three columns by descending order of Global_active_power and ascending order of Voltage

sorted_df = df.iloc[:, :3].sort_values(
    by=["Global_active_power", "Voltage"],
    ascending = [False, True]
)
print()
print("Here is the sorted dataframe", sorted_df)

# Compute the daily average of Global_active_power.
daily_mean = df["Global_active_power"].resample("D").mean()
print("This is the daily average of the Global_active_power", daily_mean)

/tmp/ipykernel_61979/130662579.py:6: DtypeWarning: Columns (2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("household_power_consumption.txt", sep =';')

Original dataframe                Date      Time Global_active_power Global_reactive_power  \
0        16/12/2006  17:24:00               4.216                 0.418
1        16/12/2006  17:25:00               5.360                 0.436
2        16/12/2006  17:26:00               5.374                 0.498
3        16/12/2006  17:27:00               5.388                 0.502
4        16/12/2006  17:28:00               3.666                 0.528
...             ...       ...                 ...                   ...
2075254  26/11/2010  20:58:00               0.946                   0.0
2075255  26/11/2010  20:59:00               0.944                   0.0
2075256  26/11/2010  21:00:00               0.938                   0.0
2075257  26/11/2010  21:01:00               0.934                   0.0
2075258  26/11/2010  21:02:00               0.932                   0.0

         Voltage Global_intensity Sub_metering_1 Sub_metering_2  \
0        234.840           18.400          0.000          1.000
1        233.630           23.000          0.000          1.000
2        233.290           23.000          0.000          2.000
3        233.740           23.000          0.000          1.000
4        235.680           15.800          0.000          1.000
...          ...              ...            ...            ...
2075254   240.43              4.0            0.0            0.0
2075255    240.0              4.0            0.0            0.0
2075256   239.82              3.8            0.0            0.0
2075257    239.7              3.8            0.0            0.0
2075258   239.55              3.8            0.0            0.0

         Sub_metering_3
0                  17.0
1                  16.0
2                  17.0
3                  17.0
4                  17.0
...                 ...
2075254             0.0
2075255             0.0
2075256             0.0
2075257             0.0
2075258             0.0

[2075259 rows x 9 columns]

dataframe without time, sub_metering2 annd 3                Date Global_active_power Global_reactive_power  Voltage  \
0        16/12/2006               4.216                 0.418  234.840
1        16/12/2006               5.360                 0.436  233.630
2        16/12/2006               5.374                 0.498  233.290
3        16/12/2006               5.388                 0.502  233.740
4        16/12/2006               3.666                 0.528  235.680
...             ...                 ...                   ...      ...
2075254  26/11/2010               0.946                   0.0   240.43
2075255  26/11/2010               0.944                   0.0    240.0
2075256  26/11/2010               0.938                   0.0   239.82
2075257  26/11/2010               0.934                   0.0    239.7
2075258  26/11/2010               0.932                   0.0   239.55

        Global_intensity Sub_metering_1
0                 18.400          0.000
1                 23.000          0.000
2                 23.000          0.000
3                 23.000          0.000
4                 15.800          0.000
...                  ...            ...
2075254              4.0            0.0
2075255              4.0            0.0
2075256              3.8            0.0
2075257              3.8            0.0
2075258              3.8            0.0

[2075259 rows x 6 columns]

dataframe with date as the index            Global_active_power Global_reactive_power  Voltage  \
Date
2006-12-16               4.216                 0.418  234.840
2006-12-16               5.360                 0.436  233.630
2006-12-16               5.374                 0.498  233.290
2006-12-16               5.388                 0.502  233.740
2006-12-16               3.666                 0.528  235.680
...                        ...                   ...      ...
2010-11-26               0.946                   0.0   240.43
2010-11-26               0.944                   0.0    240.0
2010-11-26               0.938                   0.0   239.82
2010-11-26               0.934                   0.0    239.7
2010-11-26               0.932                   0.0   239.55

           Global_intensity Sub_metering_1
Date
2006-12-16           18.400          0.000
2006-12-16           23.000          0.000
2006-12-16           23.000          0.000
2006-12-16           23.000          0.000
2006-12-16           15.800          0.000
...                     ...            ...
2010-11-26              4.0            0.0
2010-11-26              4.0            0.0
2010-11-26              3.8            0.0
2010-11-26              3.8            0.0
2010-11-26              3.8            0.0

[2075259 rows x 5 columns]


       Global_active_power  Global_reactive_power       Voltage  \
count         2.049280e+06           2.049280e+06  2.049280e+06
mean          1.091615e+00           1.237145e-01  2.408399e+02
std           1.057294e+00           1.127220e-01  3.239987e+00
min           7.600000e-02           0.000000e+00  2.232000e+02
25%           3.080000e-01           4.800000e-02  2.389900e+02
50%           6.020000e-01           1.000000e-01  2.410100e+02
75%           1.528000e+00           1.940000e-01  2.428900e+02
max           1.112200e+01           1.390000e+00  2.541500e+02

       Global_intensity  Sub_metering_1
count      2.049280e+06    2.049280e+06
mean       4.627759e+00    1.121923e+00
std        4.444396e+00    6.153031e+00
min        2.000000e-01    0.000000e+00
25%        1.400000e+00    0.000000e+00
50%        2.600000e+00    0.000000e+00
75%        6.400000e+00    0.000000e+00
max        4.840000e+01    8.800000e+01

            Global_active_power  Global_reactive_power  Voltage  \
Date
2006-12-16                4.216                  0.418   234.84
2006-12-16                5.360                  0.436   233.63
2006-12-16                5.374                  0.498   233.29
2006-12-16                5.388                  0.502   233.74
2006-12-16                3.666                  0.528   235.68
...                         ...                    ...      ...
2010-11-26                0.946                  0.000   240.43
2010-11-26                0.944                  0.000   240.00
2010-11-26                0.938                  0.000   239.82
2010-11-26                0.934                  0.000   239.70
2010-11-26                0.932                  0.000   239.55

            Global_intensity  Sub_metering_1
Date
2006-12-16              18.4             0.0
2006-12-16              23.0             0.0
2006-12-16              23.0             0.0
2006-12-16              23.0             0.0
2006-12-16              15.8             0.0
...                      ...             ...
2010-11-26               4.0             0.0
2010-11-26               4.0             0.0
2010-11-26               3.8             0.0
2010-11-26               3.8             0.0
2010-11-26               3.8             0.0

[2049280 rows x 5 columns]

Dataframe with only selected data
            Global_active_power  Global_reactive_power  Voltage  \
Date
2008-12-27                0.996                  0.066   244.81
2008-12-27                1.076                  0.162   244.78
2008-12-27                1.064                  0.172   244.74
2008-12-27                1.070                  0.174   245.28
2008-12-27                0.804                  0.184   246.30
...                         ...                    ...      ...
2010-11-26                0.522                  0.214   242.91
2010-11-26                0.518                  0.214   242.55
2010-11-26                0.514                  0.212   242.15
2010-11-26                0.514                  0.218   242.57
2010-11-26                0.704                  0.146   242.18

            Global_intensity  Sub_metering_1
Date
2008-12-27               4.0            0.06
2008-12-27               4.4            0.06
2008-12-27               4.4            0.06
2008-12-27               4.4            0.06
2008-12-27               3.4            0.06
...                      ...             ...
2010-11-26               2.2            0.06
2010-11-26               2.2            0.06
2010-11-26               2.2            0.06
2010-11-26               2.2            0.06
2010-11-26               2.8            0.06

[449667 rows x 5 columns]
Global_active_power        0.082
Global_reactive_power      0.000
Voltage                  242.180
Global_intensity           0.200
Sub_metering_1             0.060
Name: 2008-08-27 00:00:00, dtype: float64

date with the maximum global_active_power is : 2009-02-22 00:00:00

Here is the sorted dataframe             Global_active_power  Global_reactive_power  Voltage
Date
2009-02-22               11.122                  0.174   229.78
2007-03-04               10.670                  0.516   230.20
2007-03-04               10.650                  0.500   229.97
2009-02-22               10.536                  0.192   230.24
2008-11-30               10.348                  0.084   231.60
...                         ...                    ...      ...
2008-08-28                0.076                  0.000   234.88
2008-08-28                0.076                  0.000   235.18
2008-08-28                0.076                  0.000   235.40
2008-08-28                0.076                  0.000   235.64
2008-08-12                0.076                  0.000   236.50

[2049280 rows x 3 columns]
This is the daily average of the Global_active_power Date
2006-12-16    3.053475
2006-12-17    2.354486
2006-12-18    1.530435
2006-12-19    1.157079
2006-12-20    1.545658
                ...
2010-11-22    1.417733
2010-11-23    1.095511
2010-11-24    1.247394
2010-11-25    0.993864
2010-11-26    1.178230
Freq: D, Name: Global_active_power, Length: 1442, dtype: float64

In [60]:
# Exercise 3: E-commerce purchases
import pandas as pd

# load data

df = pd.read_csv("Ecommerce_purchases.txt")
print(df)

# Count of Rows and columns
rows, columns = df.shape
print("Rows & colums are :", rows, columns)

# average Purchase Price
print("Average purchase price is", df["Purchase Price"].mean())
print()

# highest and lowest purchase prices
print("Highest prices:", df["Purchase Price"].max())
print("Lowest prices:", df["Purchase Price"].min())

# How many people have English 'en' as their Language of choice on the website
print()
print("People with Language='en':", (df["Language"] == "en").sum())

# people have the job title of "Lawyer" 
print()
print("people have the job title of 'Lawyer':", (df["Job"].str.contains("Lawyer")).sum())

# How many people made the purchase during the AM and how many people made the purchase during PM 
print()
print("AM count:", (df["AM or PM"] == "AM").sum())
print("PM count:", (df["AM or PM"] == "PM").sum())

#top 5 most common job titles
print()
print("Top 5 Jobs:\n",df["Job"].value_counts().head(5))

#purchase price for Lot 90 WT
print()
print("Purchase Price for Lot 90 WT",df[df["Lot"] == "90 WT"]["Purchase Price"].iloc[0])

#email for specific credit card number
print()
print("email owner with credit number 4926535242672853 is:", df[df["Credit Card"] == 4926535242672853]["Email"].iloc[0])

# How many people have American Express as their Credit Card Provider and made a purchase above $95 ?
print()
amex_count = df[(df["CC Provider"] == "American Express") & (df["Purchase Price"] > 95)].shape[0]
print("AmEx user with >95 purchase:", amex_count)

# credit cards expiring in 2025
# Exp Date format is usually MM/YY â†’ so endswith("25")
print("Cards expiring in 2025:",
      df["CC Exp Date"].apply(lambda x: x.split("/")[1] == "25").sum())

#top 5 most common email providers
df["provider"] = df["Email"].apply(lambda x: x.split("@")[1])
print("Top 5 email providers:\n", df["provider"].value_counts().head(5))

                                                Address    Lot AM or PM  \
0     16629 Pace Camp Apt. 448\nAlexisborough, NE 77...  46 in       PM
1     9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  28 rn       PM
2                      Unit 0065 Box 5052\nDPO AP 27450  94 vE       PM
3                 7780 Julia Fords\nNew Stacy, WA 45798  36 vm       PM
4     23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...  20 IE       AM
...                                                 ...    ...      ...
9995      966 Castaneda Locks\nWest Juliafurt, CO 96415  92 XI       PM
9996  832 Curtis Dam Suite 785\nNorth Edwardburgh, T...  41 JY       AM
9997              Unit 4434 Box 6343\nDPO AE 28026-0283  74 Zh       AM
9998               0096 English Rest\nRoystad, IA 12457  74 cL       PM
9999     40674 Barrett Stravenue\nGrimesville, WI 79682  64 Hr       AM

                                           Browser Info  \
0     Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...
1     Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...
2     Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...
3     Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...
4     Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...
...                                                 ...
9995  Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...
9996  Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...
9997  Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...
9998  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...
9999  Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...

                              Company       Credit Card CC Exp Date  \
0                     Martinez-Herman  6011929061123406       02/20
1     Fletcher, Richards and Whitaker  3337758169645356       11/18
2          Simpson, Williams and Pham      675957666125       08/19
3     Williams, Marshall and Buchanan  6011578504430710       02/24
4           Brown, Watson and Andrews  6011456623207998       10/25
...                               ...               ...         ...
9995                    Randall-Sloan   342945015358701       03/22
9996         Hale, Collins and Wilson   210033169205009       07/25
9997                     Anderson Ltd  6011539787356311       05/21
9998                         Cook Inc   180003348082930       11/17
9999                       Greene Inc  4139972901927273       02/19

      CC Security Code                  CC Provider  \
0                  900                 JCB 16 digit
1                  561                   Mastercard
2                  699                 JCB 16 digit
3                  384                     Discover
4                  678  Diners Club / Carte Blanche
...                ...                          ...
9995               838                 JCB 15 digit
9996               207                 JCB 16 digit
9997                 1                VISA 16 digit
9998               987             American Express
9999               302                 JCB 15 digit

                               Email                                     Job  \
0                  pdunlap@yahoo.com  Scientist, product/process development
1                 anthony41@reed.com                       Drilling engineer
2     amymiller@morales-harrison.com                Customer service manager
3        brent16@olson-robinson.info                       Drilling engineer
4        christopherwright@gmail.com                             Fine artist
...                              ...                                     ...
9995          iscott@wade-garner.com                              Printmaker
9996              mary85@hotmail.com                         Energy engineer
9997               tyler16@gmail.com                      Veterinary surgeon
9998         elizabethmoore@reid.net                Local government officer
9999           rachelford@vaughn.com                  Embryologist, clinical

           IP Address Language  Purchase Price
0     149.146.147.205       el           98.14
1        15.160.41.51       fr           70.73
2      132.207.160.22       de            0.95
3        30.250.74.19       es           78.04
4        24.140.33.94       es           77.82
...               ...      ...             ...
9995    29.73.197.114       it           82.21
9996   121.133.168.51       pt           25.63
9997    156.210.0.254       el           83.98
9998     55.78.26.143       es           38.84
9999  176.119.198.199       el           67.59

[10000 rows x 14 columns]
Rows & colums are : 10000 14
Average purchase price is 50.347302

Highest prices: 99.99
Lowest prices: 0.0

People with Language='en': 1098

people have the job title of 'Lawyer': 30

AM count: 4932
PM count: 5068

Top 5 Jobs:
 Job
Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Research officer, political party    27
Designer, jewellery                  27
Name: count, dtype: int64

Purchase Price for Lot 90 WT 75.1

email owner with credit number 4926535242672853 is: bondellen@williams-garza.com

AmEx user with >95 purchase: 39
Cards expiring in 2025: 1033
Top 5 email providers:
 provider
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: count, dtype: int64

In [75]:
# Exercise 4: Handling missing values

import pandas as pd

# load dataset
df = pd.read_csv("iris.csv")

# drop flower column
df = df.drop(columns=["flower"])

# Check missing values
print("Total missing values are:\n",df.isna().sum())

# 3) fill with different strategies
# covet to meric first
# convert columns to numeric ad a for missig values
df["sepal_length"] = pd.to_numeric(df["sepal_length"], errors="coerce")
df["sepal_width"] = pd.to_numeric(df["sepal_width"], errors="coerce")
df["petal_length"] = pd.to_numeric(df["petal_length"], errors="coerce")
df["petal_width"] = pd.to_numeric(df["petal_width"], errors="coerce")

df["sepal_length"] = df["sepal_length"].fillna(df["sepal_length"].mean())      # mean
df["sepal_width"]  = df["sepal_width"].fillna(df["sepal_width"].median())      # median
df["petal_length"] = df["petal_length"].fillna(0)                              # zero
df["petal_width"]  = df["petal_width"].fillna(0)                               # zero

print()
print("After filling:\n", df.isna().sum())

# 4) Fill all missing values using median
print()
df2 = df.fillna(df.median(numeric_only=True))

# print(df2.head)
print("Total missing values after filling with mean is:\n", df.isna().sum())

#special row, There is a row in the dataset where one value is not a number (string like "NA" or "?").

This is the special row     sepal_length sepal_width petal_length petal_width          flower
8           -4.4         2.9       1400.0         0.2     Iris-setosa
100          NaN         3.3          NaN         2.5  Iris-virginica
122       always       check          the        data        !!!!!!!!
127          NaN         3.0          4.9         1.8  Iris-virginica
132         6.-4         2.8          5.6         2.2  Iris-virginica
Total missing values are:
 sepal_length     2
sepal_width      8
petal_length    29
petal_width      2
dtype: int64

After filling:
 sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
dtype: int64

Total missing values after filling with mean is:
 sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
dtype: int64